/* Start global rules */
body {
  margin: 5px;
  font-family: 'Lato', sans-serif;
}
/* End global rules */

/* Start styling Header Section */
header {
  background-color: #cdcdcd;
  color: #434857;
  padding: 20px;
  font-size: 35px;
  font-weight: bolder;
  text-transform: uppercase;
  width: calc(99% - 50px);
  margin: 5px;
}
/* End styling Header Section */

/* Start styling Bundesland Box */
.land-box {
  text-decoration: none;
  display: block;
  border: 5px solid #eeeeee;
  color: #434857;
  padding: 10px;
  width: calc(33% - 10px);
  box-sizing: border-box;
  margin: 5px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.land-box:hover {
  border: 5px solid #899499;
  transition: border 0.3s ease-in-out;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

.land-box > div {
  margin-top: 10px;
  margin-bottom: 5px;
}

.land-box > span {
  color: #acacac;
}
/* End styling Bundesland Box */

/* Start Styling Letters Container */
#letters_container {
  display: flex;
}

.letter-box{
  background-color: #dddddd;
  margin: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}


/* End Styling Letters Container */

/* Start Media Queries */
@media (max-width: 800px) {
  .land-box {
    width: calc(50% - 10px);
  }

  header {
    width: calc(99% - 45px);
  }
}

@media (max-width: 500px) {
  .land-box {
    width: calc(100% - 10px);
  }

  header {
    width: calc(100% - 50px);
  }
}

/* End Media Queries */
